<%= form_for @comment, html: {id: :comment_form} do |f| %>
  <div class="field">
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p class="link"><%= link_to "Back to Profile", user_path(current_user) %></p>