<h1>Beer List</h1>
<h2>Share your favorite beers and find new beers to try.</h2>
<div class="link"><%= link_to "Create a New Account", new_user_path %></div>
<br />
<p>- Or -</p>
<div class="link"> <%= link_to "Sign In", signin_path %></div>