<p id="notice"><%= notice %></p>
<h1 class="link"><%= link_to "All Beers", beers_path, class: "all_beers" %></h1>
<div id="app-container">
</div>
<div>
  <p class="link"><%= link_to "Back to Profile", user_path(current_user) %></p>
  <br/>
  <button class="big_button"><%= link_to 'New Beer', new_beer_path %></button>
</div>